body {
    background: url(../images/bg-desktop.svg) no-repeat var(--background-color);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.header {
    padding: 50px 70px;
}

.header .logo {
    width: 215px;
}

.container {
    display: grid;
    grid-template-columns: minmax(310px, 545px) auto;
    padding: 29px 73px 17px;
    gap:52px;
}

.container .image {
    max-width: 100%;
}

.container .info {
    color: #fff;
    padding-top: 43px;
}

.container .info h1, 
.container .info p {
    max-width: 520px;
}

.container .info h1 {
    font-family: var(--heading-font);
    font-size: 40px;
    margin-bottom: 20px;
}

.container .info p {
    font-family: var(--text-font);
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 23px;
}

.container .info .register-btn {
    font-family: var(--heading-font);
    font-size: 18px;
    background-color: #fff;
    color: var(--background-color);
    box-shadow: 1px 3px 7px 3px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 50px;
    padding: 15px 64px;
}

.container .info .register-btn:hover {
    background-color: var(--active-color);
    color: #fff;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding: 0 72px 30px 0;
}

.footer ul {
    display: flex;
}

.footer a {
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 9px;
}

.footer a::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
}

.footer a:hover ::before{
    color: var(--active-color);
}

.footer a:hover::before {
    border-color: var(--active-color);
}

.footer i {
    color: #fff;
    padding: 10px;
}

.footer i.fa-facebook-f {
    font-size: 18px;
}

.footer i.fa-twitter {
    font-size: 16px;
}

.footer i.fa-instagram {
    font-size: 21px;
}